<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.visit.module.question.dao.QuestionMapper">

    <select id="visitCount" resultType="java.util.Map">
        select userId,count(1) as count
        from question
        group by userId
    </select>

    <select id="isMutilVist" resultType="java.util.Map">
        select count(if(table1.count=1,true,null)) as firstVisit,count(if(table1.count!=1,true,null)) as mutilVisit
        from
        (select userId,count(1) as count
         from question
         group by userId) as table1
    </select>

    <select id="isAbroadCount" resultType="java.util.Map">
        select isAbroad name,count(1) as value
        from question
        group by isAbroad
    </select>

    <select id="visitLocationCount" resultType="java.util.Map">
        select case when isAbroad=0 then '国内' else '国外' end as name,count(1) as value
        from question
        group by isAbroad
    </select>

    <select id="questionTypeCount" resultType="java.util.Map">
        select questionType,count(1) as count
        from question
        group by questionType
    </select>

    <select id="isSpecialVisitCount" resultType="java.util.Map">
        select isSpecialVisit as name,count(1) as value
        from question
        group by isSpecialVisit
    </select>

    <select id="totalAccompanyNumber" resultType="java.util.Map">
        select sum(accompanyNumber) as count
        from question
    </select>

</mapper>


