<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.visit.module.dict.dao.DictMapper">

    <select id="displayAllDict" resultType="String">
        select distinct dictType
        from dict
    </select>

    <select id="getDictList" resultType="com.kang.visit.module.dict.entity.DictEntity">
        select *
        from dict
        where dictType=#{dictType}
        order by code+0
    </select>

    <select id="getDictListForQuestion" resultType="com.kang.visit.module.dict.entity.DictEntity">
        select *
        from dict
        where field=#{field}
        order by code+0
    </select>

    <select id="checkDuplicateDict" resultType="int">
        select count(1) as count
        from dict
        where dictType=#{dictType} or field=#{field}
    </select>

</mapper>


