<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.visit.module.question.dao.QuestionMapper">

    <select id="selectQuestionList" resultType="com.kang.visit.module.question.entity.Question">
      select *
      from question
      where stsCd='A'
      <if test="startDate != null and endDate!= null">
        and visitDate between #{startDate} and #{endDate}
      </if>
      order by visitDate
    </select>

    <select id="countGroupByField" resultType="java.util.Map">
        <if test="field =='accompanyNumber'">
            select sum(accompanyNumber) as value
            from question
            <if test="startDate != null and startDate!='' and endDate!= null and endDate!=''">
                where visitDate between #{startDate} and #{endDate}
            </if>
            group by NULL
        </if>
        <if test="field =='questionnairesNumber'">
            select count(1) as value
            from question
            <if test="startDate != null and startDate!='' and endDate!= null and endDate!=''">
                where visitDate between #{startDate} and #{endDate}
            </if>
        </if>
        <if test="dictType != null and dictType !=''">
            select dictName as name,IFNULL(table1.value,0) as value
            from dict
            left join(select ${field} as name
            ,count(1) as value
            from question
            <if test="startDate != null and startDate!='' and endDate!= null and endDate!=''">
                where visitDate between #{startDate} and #{endDate}
            </if>
            group by ${field}) as table1
            on dict.code=table1.name
            where dictType=#{dictType}
        </if>
    </select>

</mapper>


